<h2 class="textCenter">Ingrese productos</h2>
<!-- <div class="formularioContainer">
	<form action="/productos" method="post" class="formulario" id="myForm">
		<label for="POST-name">Nombre:</label>
		<input id="POST-name" type="text" name="title" class="titulo" />
		<label for="POST-name">Precio:</label>
		<input id="POST-name" type="text" name="price" class="precio" />
		<label for="POST-name">Imagen:</label>
		<input id="POST-name" type="text" name="thumbnail" class="foto" />
		<input class="buttonSubmit" type="submit" value="Guardar" />
	</form>
</div> -->

<div class="formularioContainer">
	<form id="formNewProduct" class="formulario">
		<label>Nombre:</label>
		<input type="text" name="title" id="titulo" />
		<label>Precio:</label>
		<input type="text" name="price" id="precio" />
		<label>Imagen:</label>
		<input type="text" name="thumbnail" id="foto" />
		<input class="buttonSubmit" type="submit" value="Guardar" />
	</form>
</div>

<a href="http://localhost:8080/productos">
	<button>ir a productos</button>
</a>
